{{ define "about" }}

{{ template "header"}}

<div class="hero container hero-container">

<p class="content mid">Web-site has created by students of AIU</p>

<h2>We wrote this project for the final exams in the programming language for the semester.</h2>
<h2>This site is designed to allow you to share information or events</h2>
</div>


<div class="cards cards-container">
  <div class="card">
    <span class="icon icon-display"></span>
    <div class="card-info">
      <p class="card-title">Backend</p>
      <p class="card-content">by Adenov Erkhan</p>
    </div>
  </div>


  <div class="card">
    <span class="icon icon-pencil-case"></span>
    <div class="card-info">
      <p class="card-title">Frontend</p>
      <p class="card-content">by Imarov Ermek</p>
    </div>
  </div>


  <div class="card">
    <span class="icon icon-target"></span>
    <div class="card-info">
      <p class="card-title">Design & Figma</p>
      <p class="card-content">by Kim Maxim</p>
    </div>
  </div>
</div>


{{ end }}
