{{ define "create" }}

{{ template "header"}}

  <main role="main" class="">

    <h1 class="cover-heading">Add Article Form</h1>

    <div class="forms">
      <div class="forms-item">
        <form action="/save_article"  method="post">

          <input type="text" name="title" id="title" placeholder="Enter the title"
          class="form-control">

          <br>

          <textarea name="anons" id="anons" class="form-control" placeholder="Enter the anons"></textarea>

          <br>

          <textarea name = "full_text" id = "full_text" class = "form-control"
          placeholder = "Enter the text"></textarea>

          <br>

          <button class="btn btn-warning">Add</button>
        </form>        
      </div>
    </div>


  </main>

  {{ template "footer"}}

  {{ end }}
