{{ define "footer" }}

</div>
</div>
<div class="cards cards-container">
  <div class="card c-1">
    <div class="card-title">
      <div class="card-title">
        <a href="http://alatoo.edu.kg/#gsc.tab=0" class="btn btn-danger ala-too link ">Ala-Too</a>
      </div>
    </div>
  </div>



  <div class="card c-2">
    <div class="card-info">
      <div class="card-title">
        <a href="https://ocs.iaau.edu.kg" class="btn btn-danger link ocs">OCS</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
{{ end }}
