{{ define "header"}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IFY</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>


  <div class="container">
    <div class="navbar logo">
      <a href="/" class="nav-name nav">Info for you</a>
    </div>


    <div class="navbar nav-bar">
      <a href="/" class="nav">Main</a>
      <a href="/create" class="nav">Create</a>
      <a href="/about" class="nav">About</a>
    </div>
  </div>
  {{ end }}
